.imgSwiper {
  width: 50vw;
}

.shadowImage {
  position: absolute;
  background-image: linear-gradient(transparent, #333);
  height: 28vw;

  display: flex;
  color: white;
  align-items: flex-end;
}

.fifty-chars {
  width: 75ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
