<div class="row center-xs" style="margin-bottom: 15px;">
  <div
    *ngFor="let movie of movies"
    class="col-xs-2"
    (click)="onDivClick(movie)"
  >
    <mat-card class="example-card">
      <img
        mat-card-image
        [src]="'https://image.tmdb.org/t/p/original/' + movie.poster_path"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-header>
        <mat-card-title class="title-max">{{ movie.title }}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>

<div class="row center-xs" style="margin-bottom: 15px;">
  <div *ngFor="let movie of savedMovies" class="col-xs-2">
    <mat-card class="example-card">
      <img
        mat-card-image
        [src]="'https://image.tmdb.org/t/p/original/' + movie.poster_path"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-header>
        <mat-card-title class="title-max">{{ movie.title }}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
