<div style="position: relative;">
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" style="position: relative;">
        <app-slide></app-slide>
      </div>

      <div class="swiper-slide" style="position: relative;">
        <img
          class="imgSwiper"
          src="https://image.tmdb.org/t/p/original/qonBhlm0UjuKX2sH7e73pnG0454.jpg"
          alt="imagen del banner"
          style="position: absolute;"
        />
        <div class="imgSwiper shadowImage">
          asdaodsj
        </div>
      </div>
      <div class="swiper-slide" style="position: relative;">
        <img
          class="imgSwiper"
          src="https://image.tmdb.org/t/p/original//n3UanIvmnBlH531pykuzNs4LbH6.jpg"
          alt="imagen del banner"
        />
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <app-listview></app-listview>
</div>
