<div style="position: relative;">
  <!-- <div class="swiper-container">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide"
        style="position: relative;"
        *ngFor="let movie of movies"
      >
        <app-slide [movie]="movie"></app-slide>
      </div>
      <div class="swiper-slide" style="position: relative;">
        <img
          class="imgSwiper"
          src="https://image.tmdb.org/t/p/original//n3UanIvmnBlH531pykuzNs4LbH6.jpg"
          alt="imagen del banner"
        />
      </div>
    </div>
  </div> -->
  <app-listview></app-listview>
</div>
